---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon";
import SocialSharing from "../../components/SocialSharing.astro";
import NewsletterForm from "../../components/NewsletterForm";
import { Image } from "astro:assets";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} description={entry.data.description}>
  <a
    class="mb-10 flex w-24 items-center gap-2 rounded-md border border-slate-200 p-2 text-center hover:bg-slate-200 md:ml-40"
    href="/blog"
    ><span>
      <Icon class="w-5" name="mdi:arrow-left-thin-circle-outline" />
    </span>Voltar
  </a>
  <article class="flex flex-col items-center justify-center">
    <h1 class="my-10 text-center text-3xl text-blue-500">{entry.data.title}</h1>
    <SocialSharing />
    <hr class="mx-auto my-5 w-1/2" />
    <Image
      src={entry.data.heroImage}
      format="webp"
      alt={`Hero image for ${entry.data.title}`}
      width={800}
      height={400}
    />

    <div
      class="prose mx-5 mb-10 mt-10 text-justify text-lg first-letter:float-left first-letter:mr-3 first-letter:text-5xl first-letter:font-bold first-letter:text-blue-600 prose-headings:text-blue-600 prose-a:text-blue-500 prose-a:no-underline hover:prose-a:text-blue-400"
    >
      <Content />
    </div>
    <SocialSharing />
  </article>
  <hr class="mx-auto my-5 w-1/2" />
  <section class="mx-2 my-10 flex flex-col items-center justify-center gap-5">
    <h2 class="text-center text-xl md:text-3xl lg:w-1/2">
      Se você quer receber artigos como esse e outras novidades em primeira mão,
      se inscreva na nossa <span class="text-blue-500">Newsletter</span>!
    </h2>
    <NewsletterForm client:load />
  </section>
</Layout>
