---
import { getCollection } from "astro:content";
import { Image } from "@astrojs/image/components";
import Layout from "../../layouts/Layout.astro";
const blogEntries = await getCollection("blog");
const sortedBlogEntries = blogEntries.sort((a, b) => {
  return b.data.publishedAt.getTime() - a.data.publishedAt.getTime();
});
---

<Layout
  title="BioinfoClass - Blog"
  description="Confira nossos posts, dicas e conteúdo"
>
  <main>
    <h1 class="mb-20 mt-10 text-center text-3xl">
      Confira nosso <span class="text-blue-600">blog</span>!
    </h1>
    <ul class="mx-10 mb-20 grid grid-cols-2 gap-5 md:ml-20 md:grid-cols-3">
      {
        sortedBlogEntries.map((blogPostEntry) => (
          <li class="flex max-w-md flex-col rounded-md border shadow-md hover:border-blue-600">
            <a href={`/blog/${blogPostEntry.slug}`}>
              <img
                src={blogPostEntry.data.heroImage}
                alt={`Hero image for ${blogPostEntry.data.title}`}
                class="mb-5 h-48 w-full rounded-md"
              />
              <h3 class="mx-5 text-center text-lg text-blue-600">
                {blogPostEntry.data.title}
              </h3>
            </a>
            <time
              class="mb-2 mr-2 text-right text-sm"
              datetime={blogPostEntry.data.publishedAt.toISOString()}
            >
              <span>Publicado em </span>{" "}
              {blogPostEntry.data.publishedAt.toLocaleDateString("pt-BR")}
            </time>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
