---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";

export interface Props {
  image: string;
  name: string;
  specialties: string;
  github: string;
  lattes: string;
}

const { image, name, specialties, github, lattes } = Astro.props;
---

<div class="flex rounded-lg border p-2">
  <Image
    class="rounded-full bg-white"
    src={image}
    width={200}
    height={200}
    alt="Instrutor"
  />
  <div class="ml-5 flex flex-col gap-5">
    <p class="text-xl">{name}</p>
    <p class="text-sm">Áreas favoritas: {specialties}</p>
    <div class="flex gap-2">
      <a href={github} target="_blank" rel="noopener">
        <Icon
          name="mdi:github"
          class="w-12 rounded-full bg-purple-400 p-2 text-white hover:bg-blue-500"
        />
      </a>
      <a href={lattes} target="_blank" rel="noopener">
        <Icon
          name="mdi:school-outline"
          class="w-12 rounded-full bg-purple-400 p-2 text-white hover:bg-blue-500"
        />
      </a>
    </div>
  </div>
</div>
