---
import { Image } from "@astrojs/image/components";
const { title, description } = Astro.props;
import logo from "../images/bioinfoclass_logo.png";
import { Icon } from "astro-icon";
import DropdownMenu from "../components/DropdownMenu";

export interface Props {
  title: string;
  description: string;
}

const date = new Date().getFullYear();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto"
      rel="stylesheet"
    />
    <!-- Beam analytics -->
    <script
      src="https://beamanalytics.b-cdn.net/beam.min.js"
      data-token="b78880a2-a3f3-4973-8718-3cbef4e74d6c"
      async
    ></script>
  </head>
  <body class="grid min-h-screen grid-rows-[auto_1fr_auto] bg-slate-100">
    <nav
      id="header"
      class="sticky left-0 right-0 top-0 z-50 flex flex-wrap items-center justify-center bg-slate-100 p-5 transition-all duration-300 ease-in-out md:grid md:grid-cols-[1fr_3fr_1fr] md:grid-rows-1 md:justify-around"
    >
      <a class="flex justify-center" href="/">
        <Image
          class="hover:cursor-pointer hover:opacity-70"
          src={logo}
          alt="BioinfoClass"
          width={80}
          height={80}
        />
      </a>
      <div
        class="mb-5 flex flex-wrap justify-center gap-2 text-lg md:mb-0 md:gap-10"
      >
        <a
          class="relative p-2 transition-colors duration-300 before:absolute before:bottom-0 before:left-0 before:block before:h-[2px] before:w-full before:origin-top-left before:scale-x-0 before:bg-blue-500 before:transition before:duration-300 before:ease-in-out before:content-[''] hover:text-blue-500 before:hover:scale-x-100"
          href="/">Home</a
        >
        <DropdownMenu client:load />
        <a
          class="relative p-2 transition-colors duration-300 before:absolute before:bottom-0 before:left-0 before:block before:h-[2px] before:w-full before:origin-top-left before:scale-x-0 before:bg-blue-500 before:transition before:duration-300 before:ease-in-out before:content-[''] hover:text-blue-500 before:hover:scale-x-100"
          href="/blog">Blog</a
        >
        <a
          class="rounded-md border border-blue-300 p-2 text-blue-600 transition-colors duration-500 hover:bg-blue-500 hover:text-white"
          href="/contato">Entre em Contato!</a
        >
      </div>
      <div class="flex justify-center gap-2">
        <a
          href="https://www.instagram.com/bioinfoclass/"
          target="_blank"
          rel="noopener"
        >
          <Icon
            name="mdi:instagram"
            class="w-8 text-blue-600 hover:text-blue-400"
          />
        </a>
        <a
          href="https://www.linkedin.com/company/bioinfoclass"
          target="_blank"
          rel="noopener"
        >
          <Icon
            name="mdi:linkedin"
            class="w-8 text-blue-600 hover:text-blue-400"
          />
        </a>
        <a
          href="https://www.facebook.com/profile.php?id=100092001289240"
          target="_blank"
          rel="noopener"
        >
          <Icon
            name="mdi:facebook"
            class="w-8 text-blue-600 hover:text-blue-400"
          />
        </a>
        <Icon
          name="mdi:youtube"
          class="w-8 text-blue-600 hover:text-blue-400"
        />
        <a
          href="mailto:contato@bioinfoclass.com"
          target="_blank"
          rel="noopener"
        >
          <Icon
            name="mdi:email-outline"
            class="w-8 text-blue-600 hover:text-blue-400"
          />
        </a>
      </div>
    </nav>
    <slot />

    <!-- Footer -->
    <div class="bg-teal-900 text-white">
      <div class="lg:pl-auto mt-auto grid gap-3 py-8 md:grid-cols-2 md:pl-20">
        <div class="ml-10 mt-5 flex flex-col gap-2 md:mt-0">
          <h2 class="text-lg">Páginas</h2>
          <a
            class="border-b-2 border-b-transparent hover:border-b-teal-900"
            href="#">Cursos</a
          >

          <a
            class="border-b-2 border-b-transparent hover:border-b-teal-900"
            href="/blog">Blog</a
          >
          <a
            class="border-b-2 border-b-transparent hover:border-b-teal-900"
            href="mailto:contato@bioinfoclass.com">Contato</a
          >

          <div class="w-3/4 lg:w-1/2"></div>
        </div>
      </div>
      <p class="text-center text-sm text-white">
        &#169; Copyright BioinfoClass {date}
      </p>
    </div>
  </body>
</html>

<script>
  // Hide and Show Desktop Header //
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;
    if (currentScrollPos === 0) {
      document.getElementById("header").style.opacity = "1";
    } else if (prevScrollpos > currentScrollPos) {
      document.getElementById("header").style.opacity = "1";
    } else {
      document.getElementById("header").style.opacity = "0";
    }
    prevScrollpos = currentScrollPos;
  };
</script>

<script>
  const navLinks = document.querySelectorAll("nav a");

  navLinks.forEach((link) => {
    link.classList.remove("text-blue-500");

    // `slice` here to remove the first `/` in pathname
    const currentPath = window.location.pathname.slice("1");

    // `link.href` returns a whole url, such as: "https://somedomain.com/posts" and we only need the last part
    const hrefArray = link.href.split("/");
    const thisPath = hrefArray[hrefArray.length - 1];

    if (currentPath === thisPath && currentPath !== "") {
      link.classList.add("text-blue-500");
    }
  });
</script>
